




<div id="jobs">
  <% @jobs.each do |job| %>
    <div class="job">
      <h2>
        <%= link_to job.title, job %>
      </h2>
      <p>
        <%= job.company %>
      </p>
    </div>
  <% end %>
</div>


<!--
<h1>Jobs#index</h1>
<% @jobs.each do |job|%>

<p><h2><%=link_to job.title , job %></h2>
<h5><%=job.description %></h5>
	<h5>	<%=job.url %></h5>
<h5>	<%=job.company %></h5></p>
<h5>	<%=job.category.name %></h5></p>
<% end %>
<%=link_to "back" , jobs_path %>
<%=link_to "New Job" , new_job_path %>
-->


