<h3>Your Job Detail</h3>

<%=@job.title %>
	<%=@job.description %>
		<%=@job.url %>
	<%=@job.company %>
	<%=@job.category.name %>

	<%=  link_to "back" , "/" %>

	<%=  link_to "edit" , edit_job_path(@job)%>

	<%=  link_to "delete" , job_path(@job) , method: :delete , data: {confirm: "are you sure"}%>